<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <h2>⚽ Watch: Match Highlights</h2>

    <div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden; margin-top: 1em;">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/1Bz5FuFNW5g?si=7V18o85Xs0pLCIqK"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="position:absolute; top:0; left:0; width:100%; height:100%;">
        </iframe>
    </div>

    <div style="margin-bottom: 3em;">
        <h3>🇧🇷 Brazil vs 🇦🇷 Argentina</h3>
        <p>World Cup Qualifier Highlights</p>

        <div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden;">
            <iframe src="https://www.youtube.com/embed/Xgqo5zzYcF4?si=frdy9sYkdA76lQBn"
                    title="YouTube video player"
                    style="position:absolute; top:0; left:0; width:100%; height:100%;"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
